.movie-section{
    padding-top: 10vh;
    background-color: rgba(0,0,0,0.8);

    .not-found{
        @include flex(center, center);
        flex-direction: column;
    }

    .grid-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, 16em);
        grid-auto-rows: auto;
        justify-content: center;
        gap: 1em;

        .movie-card{
            background-color: rgba(0,0,0,0.8);
            padding: 1em 1.5em;

            .detail{
               .title{
                margin: 0.5em 0;
               }
               .btn{
                margin-top: 1em;
               }
            }
        }
    }
}

.detail,
.not-found{
    .btn{
        margin: 0 auto;
    }
}